*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 20px;
}
.idioms{
    background-color: rgb(15, 15, 137);
    padding: 15px;
    border-radius: 40px;
    margin: 10px;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}